.App {
  text-align: center;
}
.box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  font-family: 'Signika';
  font-size:21px;
}
.box div {
  width: 20%;
  height: auto;
  background: aqua;
}
.item{
  padding:10px; 
  margin:10px;
}
#inpt{
  border: none;
  background: aqua;
}
.tasks{
  white-space: nowrap;
}
li{
  list-style-type: none;
}
.close-icon {
  cursor: pointer;
}
.r180{
  font-size: 30px;
  font-weight: 900;
  color: #666;
  position: relative;
  cursor: pointer;
}
.titlebar{
  white-space: nowrap;
}
.closetask{
  padding-left:50px;
}
.minimize{ 
  padding-right: 10px;
  cursor: pointer;
  font-size: 30px;
  font-weight: 900;
  color: #666;
  position: relative;
}
.maximise{
  padding-left:55px;
  padding-right: 10px;
  cursor: pointer;
  font-size: 30px;
  font-weight: 900;
  color: #666;
  position: relative;
}