  .box {
    width: 100%;   
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    font-family: 'Signika';
    font-size:21px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  }
  .box div {
    width: 100%;
    background: aqua;
  }
  .item{
    padding:10px; 
    margin:10px;
    height: 400px;
    
  }
  #inpt{
    border: none;
    background: aqua;
  }
  .tasks{
    white-space: nowrap;
    overflow-y: scroll;
    height:300px;
  }
  li{
    list-style-type: none;
  }
  .close-icon {
    cursor: pointer;
  }
  .r180{
    font-size: 30px;
    font-weight: 900;
    color: #666;
    position: relative;
    cursor: pointer;
  }
  .titlebar{
    white-space: nowrap;
    background: blue;
    border: 5px solid rgb(245, 106, 13);
    border-left: hidden;
    border-top: hidden;
    border-right: hidden;
  }
  
  .minimize{ 
    padding-right: 10px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 900;
    color: #666;
    position: relative;
  }
  .maximise{
    padding-left:50px;
    padding-right: 10px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 900;
    color: #666;
    position: relative;
  }
  